/*
1. position
2. model box
3. tipografia
4. visual
5. otros...
*/

:root {
  /* colors */
  --bitcoin-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secundary-blue: #1a9af7;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --gray: #bababa;
  --off-white: #faf8f7;
  --just-white: #fff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "DM Sans", sans-serif;
}

hr {
  border: none;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header-title-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-title-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.header-title-container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}
.header-title-container .header--button {
  position: absolute;
  left: calc(50% - 118px);
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 15px;
  width: 229px;
  height: 48px;
  background-color: var(--off-white);
  /* Shadow */
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url("assets/icons/vector-arrow.svg");
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #faf8f7;
}
main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}
.main-exchange-container .backgroungImg {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  background-image: url("assets/images/Bitcoin.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  color: #757575;
}
.main-title-tables p {
  align-items: center;
  margin-top: 50px;
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  min-width: 235px;
  max-width: 500px;
}
.main-title-tables .title--money {
  color: var(--bitcoin-orange);
}
.main-title-tables .title--comisions {
  color: var(--secundary-blue);
}
.main-tables {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.main-tables-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  border: none;
  position: relative;
  left: calc(50% - 97px);
  background-color: var(--just-white);
  max-width: 500px;
  width: 196px;
  border-radius: 5px;
}
.main--article {
  margin: auto;
  scroll-snap-align: center;
}
.main-tables-container div {
  position: relative;
  top: 15px;
  left: 13px;
  height: 39px;
}
.main-tables-container .table-left {
  width: 101px;
  text-align: left;
}
.main-tables-container .table-right {
  width: 95px;
}
.main-tables-container span {
  display: flex;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-weight: normal;
  color: #757575;
}
.main-tables-container img {
  margin-left: 15px;
  width: 11px;
}
.main-tables-container p {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-weight: 500;
  color: #b5b0ac;
}
.main-tables__information-date {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-tables__information-date p {
  width: 173px;
  height: 31px;
  padding: 8px 0;
  text-align: center;
  border-radius: 8px;
  font-size: 1.2rem;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  line-height: 1.5rem;
  color: var(--warm-black);
}
.main-tables__information-date strong {
  font-weight: bolder;
}
.main-tables__information-date .money {
  background-color: var(--soft-orange);
}
.main-tables__information-date .comisions {
  background-color: var(--soft-blue);
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 20px 10px;
  background-color: var(--warm-black);
}
.product-detail--batata-logo {
  position: absolute;
  width: 40px;
  height: 25px;
  top: -10px;
  left: calc(50% - 20px);
  background-image: url("assets/icons/batata.svg");
}
.product-detail--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: 50px;
  text-align: center;
}
.product-detail--title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}
.product-detail--title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-cards--container {
  height: auto;
}
.product-detail--card {
  width: 90%;
  min-width: 288px;
  max-width: 400px;
  min-height: 150px;
  margin: 15px auto;
  padding: 15px;
  background-color: var(--black);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("assets/icons/clock\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-detail--card .ejes {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("assets/icons/eye\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-detail--card .money {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("assets/icons/dollar-sign\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product-detail--card .arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("assets/icons/check-circle\ 1.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--just-white);
}
.product--card-body {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.bitcoin-img-container {
  width: 100%;
  min-width: 320px;
  height: 70vh;
  background-image: url("assets/images/bitcoinbabyx2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
.bitcoin-img-container h2 {
  padding-top: 60px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.main-plans-container {
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}
.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 30px;
}
.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}
.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--slider {
  display: flex;
  height: 316px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}
.plans-container-card {
  position: relative;
  scroll-snap-align: center;
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 250px;
  margin: 50px 5px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.plans-container-card .recomended {
  position: absolute;
  top: -15px;
  left: calc(50% - 52.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 105px;
  height: 31px;
  border-radius: 8px;
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.4rem;
  color: var(--just-white);
}
.plan-card--title {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.8rem;
  color: black;
}
.plan-card--price {
  padding: 5px 0;
  font-size: 5.2rem;
  font-weight: bold;
  color: black;
}
.plan-card--price small {
  position: relative;
  top: -30px;
  right: 4px;
  font-size: 1.2rem;
  font-weight: 300;
}
.plan-card--saving {
  font-size: 1.2rem;
  color: #757575;
}
.plan-card--ca {
  width: 150px;
  height: 48px;
  margin-top: 20px;
  background-color: #faf8f7;
  border-radius: 4px;
  font-family: "DM Sans", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.8rem;
  color: var(--black);
}
.plan-card--ca span {
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}
.orange {
  border: 2px solid var(--bitcoin-orange);
}
.p-orange {
  background-color: var(--bitcoin-orange);
}
.arrow-orange {
  background-image: url("assets/icons/arrow-right\ 1.svg");
}
.blue {
  border: 2px solid var(--secundary-blue);
}
.p-blue {
  background-color: var(--secundary-blue);
}
.arrow-blue {
  background-image: url("assets/icons/Inkedarrow\ blue_LI.jpg");
  background-size: cover;
}
.green {
  border: 2px solid rgb(15, 197, 15);
}
.p-green {
  background-color: rgb(15, 197, 15);
}
.arrow-green {
  background-image: url("assets/icons/Inkedgreen\ arrow_LI.jpg");
  background-size: cover;
}

footer {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: var(--bitcoin-orange);
}
footer section {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}
footer .left ul {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
}
.left li {
  margin: 10px 0;
}
.left a {
  text-decoration: none;
  color: var(--just-white);
}
